// SPDX-FileCopyrightText: 2023 Roland Ebrecht <roland.ebrecht@infineon.com>
//
// SPDX-License-Identifier: MIT

/target
Content/bin/aarch32/*.bin
Content/bin/aarch32/*.elf
*.lst
*.o
**/.DS_Store
Cargo.lock
